body {
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
    height: fit-content;
}

@media screen and (max-width: 900px) {
    body {
        margin: 20px;
        padding: 10px;
        height: fit-content;
        width: fit-content;
    }

}

nav {
    height: 60px;
    padding-bottom: 20px;
}

ul {
    list-style: none;
    padding-top: 10px;
}

.img23 {
    float: left;
    margin-top: 5px;
    margin-left: 97px;
    margin-right: 60px;
}

li {
    position: relative;
    float: left;
    color: black;
    font-size: 17px;
    line-height: 45px;
}

a {
    text-decoration: none;
    color: black;
    padding: 15px;
}

a:hover {
    color: rgb(196, 39, 39);
}

.active {
    color: rgb(196, 39, 39);
}

.dropdown {
    display: none;
    position: absolute;
    right: 5px;
    width: 190px;
    background: rgb(231, 226, 226);
    padding: 14px 0px 14px 0px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(143, 138, 138, 0.2);
    z-index: 4;
}

li:hover .dropdown {
    display: block;
    background-color: white;
}

.dropdown a:hover {
    background-color: #c92828;
    color: white;
}

.breadcrumb li+li::after {
    content: "|";
}

.nobread li+li::after {
    content: none;
}

.hb {
    display: none;
}

@media screen and (max-width: 900px) {

    .img23 {
        margin-top: 10px;
        margin-left: 30px;
    }

    ul {
        display: none;
    }

    .hb {
        margin-right: 20px;
        text-align: center;
        margin-top: 20px;
        border-radius: 5px;
        float: right;
        display: inline;
        font-size: 25px;
        width: 50px;
        cursor: pointer;
        background: rgba(21, 12, 99, 0.856);
        color: white;
        height: 40px;
    }

    .nav-active {
        display: block;
    }

    li {
        width: 400px;
        padding-bottom: 10px;
        line-break: auto;
    }

    a {
        padding-left: 0;
    }

    .dropdown {
        box-shadow: none;
        position: relative;
        padding-left: 30px;
    }

    .dropdown a {
        color: #c92828;
    }
}

.menu-item {
    padding: 0%;
    margin: 0%;
}

#index {
    width: 100%;
    height: 600px;
    display: flex;
    background-image: url(/CGI/partners-banner.png);
    z-index: 1;
    content: "";
}
.pu {
    top: 105px;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(40, 23, 62, 0.62);
    z-index: 2;
}

aside {
    height: 450px;
    width: 49%;
    display: inline-block;
    margin: 1px;
    margin-left: 100px;
    margin-top: 50px;
    z-index: 3;
}

#p1 {
    font-size: 36px;
    color: #EFA506;
}

#p2 {
    font-size: 36px;
    color: #ffffff;
}

#p3 {
    font-size: 36px;
    color: #ffffff;
}

.b1 {
    background-color: #BF1E23;
    ;
}

#join {
    color: #fff;
    background: #BF1E23;
    border: solid 1px #BF1E23;
    font-size: 15px;
    padding: 13px 15px;
    border-radius: 30px;
    display: inline-block;
    transition: all ease-in-out 0.2s;
    font-weight: 600;
}

#join:hover {
    background: #fff;
    color: #BF1E23;
}
.g{
    padding: 2rem 4rem;
    border-bottom: dashed 1px rgba(83, 74, 186, 0.5);
    display: flex;
}

.g1{
    padding: 2rem 4rem;
    display: flex;
}
.a{
    padding: 2rem 4rem;
    border-bottom: dashed 1px rgba(83, 74, 186, 0.5);
    display: flex;
}
.m {
    width: 230px;
    height: 130px;
    padding: 0px 16px;
    text-align: center;
    margin-top: 30px;
}

.o {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #BF1E23;
    margin-bottom: 0;
    line-height: 27px;
}

.k {
    color: #575757;
    margin: 0%;
    line-height: 37px;

}

.mb {
    width: 200px;
    height: 161px;
}





.xa {
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    flex-direction: row;
}


.asd {
    display: flex;
}

.bnm {
    width: 100%;
    height: 350px;
    margin-top: 35px;
    background-image: url(/CGI/cunter-bg.png);
    background-attachment: fixed;
    z-index: -1;
}

.xc {
    background-color: rgba(83, 74, 186, 0.88);
    width: 100%;
    height: 100%;
    z-index: 2;
    content: "";
    display: flex;
}

.spa {
    display: flex;
    width: 100%;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 4rem;
    color: #fff;
    transform: translateY(-50%);
    margin-left: 90px;
}

.img10 {

    margin-right: 60px;
    margin-left: 70px;
}

@media screen and (max-width: 900px) {
    .xa {
        display: flex;
        flex-wrap: wrap;
        justify-items: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: center;
        flex-direction: row;
        width: 150px;
    }

    .asd {
        display: flex;
    }

    .bnm {
        width: 100%;
        height: 350px;
        margin-top: 35px;
        background-image: url(/CGI/cunter-bg.png);
        background-attachment: fixed;
        z-index: -1;
    }

    .xc {
        width: 100%;
        height: 100%;
        z-index: 2;
        content: "";
        display: flex;
    }


    .spa {
        display: flex;
        width: 55px;
        height: 55px;
        font-family: "Oswald", sans-serif;
        font-weight: bold;
        font-size: 2rem;
        color: #fff;
        transform: translateY(-50%);
        margin-left: 45px;
    }

    .img10 {
        margin-left: 40px;
        margin-right: 60px;
        width: 85px;
        height: 85px;
    }

}

.feb {
    text-align: center;
}


.bn {
    width: 600px;
    height: 800px;
}

.vb {
    margin-bottom: 0%;
    padding-bottom: 0%;
}
.qw {
    background-color: white;
}
.qw {
    color: #BF1E23;
}


#b7 {
    padding: 15px 30px;
    text-align: center;
}

#b4 {
    box-shadow: 10px 10px 10px 10px rgb(188, 186, 186);
    display: flex;
    justify-items: space-between;
    align-content: center;
    padding: 0px 0px;
    text-align: center;
}

#b5 {
    width: 280px;
    height: 100px;
    margin: 20px;
}

#t11 {
    width: fit-content;
}

@media screen and (max-width: 900px) {
    .vb {
        margin-bottom: 0%;
        padding-bottom: 0%;
    }

    .tr {
        display: flex;
    }

    #b5 {
        width: 120px;
        height: 50px;
        margin: 20px;
    }

    #t11 {
        width: 620px;
    }

    .feb {
        width: 620px;
    }

    #b7 {
        padding: 20px;
    }
}


.fot {
    width: 100%;
    height: 480px;
    background-color: #BF1E23;
    margin-top: 60px;
}

.cen {
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    color: #f7f7f7;
    text-align: center;
}

footer {
    width: 100%;
    height: 480px;
    background-color: #BF1E23;
}

.nb {
    padding-top: 80px;
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 10px;
}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    background-color: #BF1E23;
    width: 600px;
    height: 50px;
    outline: none;
}

.search-input {
    width: 500px;
    border-radius: 20px 0 0 20px;
    border: none;
}

.sub {
    width: 150px;
    background-color: #363636;
    border-radius: 0 20px 20px 0;
    text-align: center;
    color: #f7f7f7;
}

.lk {
    color: #f7f7f7;
    margin-top: 14px;
    margin-bottom: 20px;
}

.heading {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #f7f7f7;
}

.social-icon {
    color: #f7f7f7;
}

.a1 {
    color: #f7f7f7;
}

address {
    color: #f7f7f7;
}

.row {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.bh {
    width: 206px;
    height: 151px;
}

.cp {
    background-color: #363636;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vc {
    color: #f7f7f7;
    text-align: center;
    font-size: 15px;
    font-family: "Nunito", sans-serif !important;
    margin-top: 0px;
}


@media screen and (max-width: 900px) {
    footer {
        width: 620px;
    }

    .row {
        display: inline;
        width: 100%;
    }

    .im11 {
        justify-items: center;
    }

    .bh {
        text-align: center;
        width: 100%;
        height: 51px;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: center;
        padding: 10px;
    }

    .heading {
        text-align: center;
    }

    .nb {
        padding-top: 30px;
    }
}